.person-view {
    padding: 0;
}

.person-panel {
    padding-left: 1rem;
}

.details-item {
    padding: 0.5rem;
    padding-left: 1rem;
}

.details-item a {
    text-decoration: none;
    color: inherit;
}

.details-item a p {
    margin-bottom: 0;
}

.details-item a p:nth-of-type(1) {
    margin-top: 8px;
    font-size: 0.8em;
    color: #288edf;
}

.details-item a p:nth-of-type(2) {
    margin-top: 4px;
    margin-bottom: 8px;
}