.back-button {
    vertical-align: middle;
    cursor: pointer;
}

.person-view {
    padding: 0;
}

.person-card {
    display: block;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.person-card .name {
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: 90px;
    padding-top: 6px;
}

.person-card p {
    margin-bottom: 2px;
    margin-left: 100px;
}

.person-card img {
    float: left;
    margin-right: 16px;
    margin-top: 8px;
}

.person-card img.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.details-item {
    padding: 0.5rem;
    padding-left: 1rem;
}

.details-item:hover {
    background-color: #626465;
}

.details-item.person-card {
    padding: 0;
}

.details-item a {
    text-decoration: none;
    color: inherit;
}

.details-item a p {
    margin-bottom: 0;
}

.details-item a p:nth-of-type(1), .person-card p:nth-of-type(1) {
    margin-top: 4px;
    color: #288edf;
}

.details-item a p:nth-of-type(2), .person-card p:nth-of-type(2) {
    font-size: 1.1em;
    margin-top: 3px;
    margin-bottom: 12px;
}

.person-card p:nth-of-type(2) {
    margin-bottom: 10px;
}